Repository Engineer-YN2000/hotel-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

.pre-commit-config.yaml:

# pre-commit フレームワーク (https://pre-commit.com/) の設定
repos:
  # ---------------------------------------------------
  # 1. 基本的な整形フック (pre-commit 標準)
  # ---------------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace # 行末の不要なスペースを削除
      - id: end-of-file-fixer   # ファイル末尾の改行を修正
      - id: check-yaml          # YAML ファイルの構文チェック
      - id: check-json          # JSON ファイルの構文チェック

  # ---------------------------------------------------
  # 2. Prettier (フォーマッター)
  #    ローカル (frontend/) の npm スクリプト ('npm run format') を実行
  # ---------------------------------------------------
  - repo: local
    hooks:
      - id: prettier-format
        name: prettier-format
        language: system
        # frontend 直下で実行し、渡されたパスから 'frontend/' を取り除いた上で npx prettier を実行
        entry: bash
        args:
          - -lc
          - |
            set -e
            cd frontend
            files=()
            for f in "$@"; do files+=("${f#frontend/}"); done
            if [ "${#files[@]}" -eq 0 ]; then
              npx --yes prettier@^3.3.3 --write "src/**/*.{js,jsx,css,json}"
            else
              npx --yes prettier@^3.3.3 --write "${files[@]}"
            fi
        files: ^frontend/src/.*\.(js|jsx|css|json)$
        pass_filenames: true

  # ---------------------------------------------------
  # 3. ESLint (リンター)
  #    ローカル (frontend/) の npm スクリプト ('npm run lint:fix') を実行
  # ---------------------------------------------------
  - repo: local
    hooks:
      - id: eslint-lint-fix
        name: eslint-lint-fix
        language: system
        # frontend 直下で実行し、渡されたパスから 'frontend/' を取り除いて ESLint に渡す
        entry: bash
        args:
          - -lc
          - |
            set -e
            cd frontend
            files=()
            for f in "$@"; do files+=("${f#frontend/}"); done
            if [ "${#files[@]}" -eq 0 ]; then
              npm run -s lint:fix -- "src/**/*.{js,jsx}"
            else
              npm run -s lint:fix -- "${files[@]}"
            fi
        files: ^frontend/src/.*\.(js|jsx)$
        pass_filenames: true

  # ---------------------------------------------------
  # 4. Java フォーマッター (Spotless)
  #    'mvn spotless:apply' を実行
  # ---------------------------------------------------
  - repo: local
    hooks:
      - id: java-spotless-format
        name: java-spotless-format
        language: system
        # pom.xml で定義した spotless プラグインを実行
        entry: mvn
        args: ["--file", "backend/pom.xml", "checkstyle:check"]
        files: ^backend/src/main/java/.*\.(java)$
        pass_filenames: false

  # ---------------------------------------------------
  # 5. Java リンター (Checkstyle)
  #    'mvn checkstyle:check' を実行
  # ---------------------------------------------------
  - repo: local
    hooks:
      - id: java-checkstyle-lint
        name: java-checkstyle-lint
        language: system
        # pom.xml で定義した checkstyle プラグインを実行
        entry: mvn
        args: ["--file", "backend/pom.xml", "checkstyle:check"]
        files: ^backend/src/main/java/.*\.(java)$
        pass_filenames: false

feat: P-010 (ホテル検索) 初期画面 (1-A) の実装
  .gitignore
  .pre-commit-config.yaml
  backend/pom.xml
  backend/src/main/java/com/example/hotel/HotelApplication.java
  backend/src/main/java/com/example/hotel/config/StartupDatabaseLorder.java
  backend/src/main/java/com/example/hotel/domain/model/RoomStockInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/RoomStockDao.java
  backend/src/main/java/com/example/hotel/domain/service/RoomStockCacheService.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/RoomStockDao/selectRoomStockInfo.sql
  backend/src/main/resources/application.properties
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/common/CalendarModal.css
  frontend/src/components/common/CalendarModal.jsx
  frontend/src/components/pages/TopPage.css
  frontend/src/components/pages/TopPage.jsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/service-worker.js
  frontend/src/serviceWorkerRegistration.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix: P-010のマージ後に見つかったタイポを修正
  .gitignore
  .pre-commit-config.yaml
  backend/pom.xml
  backend/src/main/java/com/example/hotel/HotelApplication.java
  backend/src/main/java/com/example/hotel/config/StartupDatabaseLoader.java
  backend/src/main/java/com/example/hotel/config/StartupDatabaseLorder.java
  backend/src/main/java/com/example/hotel/domain/model/RoomStockInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/RoomStockDao.java
  backend/src/main/java/com/example/hotel/domain/service/RoomStockCacheService.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/resources/application.properties
  frontend/public/index.html
  frontend/src/components/common/CalendarModal.css
  frontend/src/components/common/CalendarModal.jsx
  frontend/src/components/pages/TopPage.css
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix: P-010のマージ後に見つかったタイポを修正
  backend/spotless/eclipse-java-google-style.xml
Due: none

fix: P-010のマージ後に見つかったタイポを修正
  .gitignore
Due: none

fix: P-010のマージ後に見つかったタイポを修正
  backend/src/main/java/com/example/hotel/top/TopPageController.java
Due: java-spotless-format, java-checkstyle-lint

feat: P-010 検索機能の実装 (1-B～1-D) とi18n/DB連携対応
  backend/src/main/java/com/example/hotel/config/StartupDatabaseLoader.java
  backend/src/main/java/com/example/hotel/domain/model/AvailableRoomInfo.java
  backend/src/main/java/com/example/hotel/domain/model/Prefecture.java
  backend/src/main/java/com/example/hotel/domain/model/RoomStockInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/PrefectureDao.java
  backend/src/main/java/com/example/hotel/domain/repository/RoomStockDao.java
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/domain/service/CacheService.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchCriteriaDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchResultDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/PrefectureDao/selectAll.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/RoomStockDao/selectRoomStockInfo.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/SearchDao/searchAvailableRooms.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/common/CalendarModal.css
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/LanguageSwitcher.css
  frontend/src/components/common/LanguageSwitcher.jsx
  frontend/src/components/common/NoResults.jsx
  frontend/src/components/common/RefineForm.css
  frontend/src/components/common/RefineForm.jsx
  frontend/src/components/common/SearchResults.css
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/common/ServerError.jsx
  frontend/src/components/pages/TopPage.css
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/hooks/useValidation.js
  frontend/src/i18n/index.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/utils/i18nConfig.js
  frontend/src/utils/messages/ja.js
  frontend/src/utils/validationMessages.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/HotelResultDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/RoomTypeResultDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchResultDto.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/RefineForm.css
  frontend/src/components/common/RefineForm.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/common/ServerError.css
  frontend/src/components/common/ServerError.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useValidation.js
  frontend/src/i18n/index.js
  frontend/src/utils/i18nConfig.js
  frontend/src/utils/messages/ja.js
  frontend/src/utils/validationMessages.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

feat: P-010 検索機能の実装 (1-B～1-D) とi18n/DB連携対応
  backend/src/main/java/com/example/hotel/config/CustomErrorController.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/RoomTypeResultDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビューへの対応
  backend/src/main/java/com/example/hotel/config/CustomErrorController.java
  backend/src/main/java/com/example/hotel/domain/constants/ReservationStatus.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchCriteriaDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/I18nProvider.css
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応(2回目)
  .gitignore
  backend/src/main/java/com/example/hotel/domain/constants/ReservationStatus.java
  backend/src/main/java/com/example/hotel/domain/model/AreaDetail.java
  backend/src/main/java/com/example/hotel/domain/model/AvailableRoomInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/AreaDetailDao.java
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/HotelResultDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/RoomTypeResultDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchCriteriaDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchResultDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/AreaDetailDao/selectAll.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/AreaDetailDao/selectByPrefectureId.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/SearchDao/searchAvailableRooms.sql
  frontend/src/components/common/RefineForm.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応(3回目)
  backend/src/main/java/com/example/hotel/config/CustomErrorController.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/HotelResultDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/SearchDao/searchAvailableRooms.sql
  frontend/src/components/common/RefineForm.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応(4回目) & テストファイル追加
  VALIDATION_TEST_GUIDE.md
  backend/src/main/java/com/example/hotel/config/CustomErrorController.java
  backend/src/main/java/com/example/hotel/config/JacksonConfig.java
  backend/src/main/java/com/example/hotel/domain/model/AvailableRoomInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/RefineForm.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/pages/TopPage.css
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
  validation_test.sh
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

レビューへの対応(5回目)
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
Due: java-spotless-format, java-checkstyle-lint

レビューへの対応(6回目)
  backend/src/main/java/com/example/hotel/config/CustomErrorController.java
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/ApiErrorResponseDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchResultDto.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/SearchDao/searchAvailableRooms.sql
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  frontend/DEVELOPMENT.md
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/common/SearchResults.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
  frontend/src/i18n/index.js
  frontend/src/shared-constants.js
  validation_test.sh
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

レビューへの対応(7回目)
  backend/spotless/eclipse-java-google-style.xml
  backend/src/main/java/com/example/hotel/config/StartupDatabaseLoader.java
  backend/src/main/java/com/example/hotel/domain/repository/SearchDao.java
  backend/src/main/java/com/example/hotel/domain/service/CacheService.java
  backend/src/main/java/com/example/hotel/domain/service/SearchService.java
  backend/src/main/java/com/example/hotel/presentation/dto/ApiErrorResponseDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/RoomTypeResultDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/SearchResultDto.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/shared-constants.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

レビューへの対応(7回目)
  backend/src/main/java/com/example/hotel/domain/model/AvailableRoomInfo.java
Due: java-spotless-format, java-checkstyle-lint

レビューへの対応(8回目)
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/example/hotel/config/AppConfig.java
  backend/src/main/java/com/example/hotel/config/PriceProperties.java
  backend/src/main/java/com/example/hotel/top/TopPageController.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  frontend/src/components/common/I18nProvider.jsx
  frontend/src/components/pages/TopPage.jsx
  frontend/src/hooks/useI18nValidation.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

レビューへの対応(9回目)
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  frontend/src/components/common/SearchResults.jsx
  validation_test.sh
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix: コードレビュー指摘事項の対応
  backend/checkstyle-suppressions.xml
  backend/pom.xml
  backend/src/main/java/com/example/hotel/config/ReservationProperties.java
  backend/src/main/java/com/example/hotel/domain/model/RoomStockInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/common/GlobalExceptionHandler.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/java/com/example/hotel/presentation/controller/top/TopPageController.java
  backend/src/main/java/com/example/hotel/presentation/dto/reservation/ReservationRequestDto.java
  backend/src/main/java/com/example/hotel/presentation/dto/top/SearchCriteriaDto.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/countReservedRooms.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/RoomStockDao/selectRoomStockInfo.sql
  backend/src/main/resources/ValidationMessages.properties
  backend/src/main/resources/ValidationMessages_ja.properties
  backend/src/main/resources/messages_ja.properties
  frontend/package-lock.json
  frontend/package.json
Due: java-spotless-format, java-checkstyle-lint

docs: JavaDocのパラメータ説明を改善
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/utils/PriceCalculator.java
Due: java-spotless-format, java-checkstyle-lint

feat: タイムアウト時ステータスをEXPIRED(40)に変更、レビュー指摘対応
  backend/src/main/java/com/example/hotel/config/ReservationProperties.java
  backend/src/main/java/com/example/hotel/domain/constants/ReservationStatus.java
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/java/com/example/hotel/presentation/dto/reservation/CustomerRequestDto.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/expireReservation.sql
  backend/src/main/resources/ValidationMessages_ja.properties
  backend/src/main/resources/reservation.properties
  frontend/src/components/common/feedback/SessionExpiredError.jsx
  frontend/src/components/common/index.js
  frontend/src/components/common/reservation/CustomerInputForm.css
  frontend/src/components/common/reservation/CustomerInputForm.jsx
  frontend/src/components/common/reservation/index.js
  frontend/src/components/common/search/SearchResults.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
  frontend/src/components/pages/top/TopPage.jsx
  frontend/src/i18n/messages/feedback.js
  frontend/src/i18n/messages/reservation.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

feat: P-030 予約確認・P-040 完了画面の実装と予約確定フローの構築
  backend/src/main/java/com/example/hotel/domain/model/ReservationWithInfo.java
  backend/src/main/java/com/example/hotel/domain/model/ReservationWithRoomInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/java/com/example/hotel/presentation/dto/reservation/ReservationResponseDto.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/cancelReservation.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/confirmReservation.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/selectByIdWithDetails.sql
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/updateStatus.sql
  frontend/src/App.js
  frontend/src/components/common/reservation/CustomerInputForm.jsx
  frontend/src/components/pages/index.js
  frontend/src/components/pages/reservation/ReservationCompletePage.css
  frontend/src/components/pages/reservation/ReservationCompletePage.jsx
  frontend/src/components/pages/reservation/ReservationConfirmPage.css
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
  frontend/src/components/pages/reservation/index.js
  frontend/src/i18n/messages/reservation.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:コードレビュー対応 デッドコード削除等
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix: レビュー対応.予約APIにHMACアクセストークン認証を追加
  .gitignore
  backend/src/main/java/com/example/hotel/domain/model/ReservationWithInfo.java
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/security/ReservationAccessTokenService.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/java/com/example/hotel/presentation/dto/reservation/ReservationResponseDto.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/confirmReservation.sql
  frontend/src/components/common/feedback/SessionExpiredError.jsx
  frontend/src/components/common/search/SearchResults.jsx
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
  frontend/src/hooks/useCancelReservation.js
  frontend/src/hooks/useReservation.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix: レビュー対応。ナビゲーション実行タイミング変更
  frontend/src/components/pages/reservation/ReservationCompletePage.jsx
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
Due: prettier-format, eslint-lint-fix

fix:レビュー対応。JavaDocと実装間の矛盾解消
  backend/src/main/java/com/example/hotel/domain/security/ReservationAccessTokenService.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  frontend/src/components/common/feedback/SessionExpiredError.jsx
  frontend/src/components/common/reservation/CustomerInputForm.jsx
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/hooks/useReservation.js
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応。設計意図の明示とセッション管理機能追加
  backend/src/main/java/com/example/hotel/domain/exception/SessionTokenMismatchException.java
  backend/src/main/java/com/example/hotel/domain/model/Reservation.java
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/security/SessionTokenService.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/java/com/example/hotel/presentation/controller/reservation/ReservationController.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/selectSessionToken.sql
  backend/src/main/resources/messages.properties
  backend/src/test/java/com/example/hotel/domain/security/ReservationAccessTokenServiceTest.java
  backend/src/test/java/com/example/hotel/presentation/controller/reservation/ReservationControllerTest.java
  frontend/src/components/common/search/SearchResults.jsx
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
  frontend/src/components/pages/reservation/ReservationInputPage.jsx
  frontend/src/hooks/useCancelReservation.js
  frontend/src/i18n/messages/common.js
  frontend/src/i18n/messages/feedback.js
  frontend/src/i18n/messages/reservation.js
  frontend/src/index.css
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応。不完全なセッション管理機能の改修
  backend/src/main/java/com/example/hotel/domain/repository/ReservationDao.java
  backend/src/main/java/com/example/hotel/domain/security/SessionTokenService.java
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/resources/META-INF/com/example/hotel/domain/repository/ReservationDao/updateSessionToken.sql
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
  backend/src/test/java/com/example/hotel/domain/security/ReservationAccessTokenServiceTest.java
  frontend/src/components/pages/reservation/ReservationConfirmPage.jsx
Due: prettier-format, eslint-lint-fix, java-spotless-format, java-checkstyle-lint

fix:レビュー対応。JavaDocの整理とセッショントークンのNullチェック
  backend/src/main/java/com/example/hotel/domain/service/ReservationService.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_ja.properties
Due: java-spotless-format, java-checkstyle-lint
